div {
  margin: 5px;
}

h3 {
  margin: 5px 0px;
}

input[type="number"] {
  width: 100px;
  font-size: large;
}

.inputItems {
  min-width: 160px;
}

.addInput {
  margin: 0px 10px;
  min-width: 100px;
}

footer {
  text-align: center;
  font-size: 10px;
}

